<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_back_cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{420,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,700}}</string>
                <key>sourceSize</key>
                <string>{420,700}</string>
            </dict>
            <key>home_fork.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,851},{76,353}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{76,353}}</string>
                <key>sourceSize</key>
                <string>{96,365}</string>
            </dict>
            <key>home_ladle.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,290},{86,352}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{86,352}}</string>
                <key>sourceSize</key>
                <string>{100,372}</string>
            </dict>
            <key>home_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,702},{308,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,105}}</string>
                <key>sourceSize</key>
                <string>{308,105}</string>
            </dict>
            <key>home_menu_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,702},{308,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,105}}</string>
                <key>sourceSize</key>
                <string>{308,105}</string>
            </dict>
            <key>home_menu_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,698},{308,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,105}}</string>
                <key>sourceSize</key>
                <string>{308,105}</string>
            </dict>
            <key>home_menu_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,698},{308,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,105}}</string>
                <key>sourceSize</key>
                <string>{308,105}</string>
            </dict>
            <key>home_menu_newgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,702},{308,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,105}}</string>
                <key>sourceSize</key>
                <string>{308,105}</string>
            </dict>
            <key>home_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,702},{308,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,111}}</string>
                <key>sourceSize</key>
                <string>{308,111}</string>
            </dict>
            <key>home_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{440,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,439}}</string>
                <key>sourceSize</key>
                <string>{440,439}</string>
            </dict>
            <key>home_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1},{288,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,115}}</string>
                <key>sourceSize</key>
                <string>{288,115}</string>
            </dict>
            <key>home_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,928},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>home_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,698},{375,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,152}}</string>
                <key>sourceSize</key>
                <string>{375,152}</string>
            </dict>
            <key>loading_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>loading_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,441},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>loading_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1016},{200,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,4}}</string>
                <key>sourceSize</key>
                <string>{200,4}</string>
            </dict>
            <key>loading_progress_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1011},{200,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,4}}</string>
                <key>sourceSize</key>
                <string>{200,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_home.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b466f93d163b1fd0ff0663d1af030737$</string>
            <key>textureFileName</key>
            <string>loading_home.png</string>
        </dict>
    </dict>
</plist>
