<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>classic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>classic_button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1531},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>classic_combo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1997},{28,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,126}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_combo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1931},{28,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,126}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_combo_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1967},{28,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,126}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_combo_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1839},{28,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,126}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_level_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1581},{32,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,128}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_level_percent_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1711},{28,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,126}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>classic_level_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1343},{186,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{186,48}</string>
            </dict>
            <key>classic_pause_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{25,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>classic_pause_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1301},{53,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>classic_pause_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1249},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>classic_paused.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{480,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,347}}</string>
                <key>sourceSize</key>
                <string>{480,347}</string>
            </dict>
            <key>classic_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1249},{452,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,680}}</string>
                <key>sourceSize</key>
                <string>{452,680}</string>
            </dict>
            <key>classic_tree_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{480,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,94}}</string>
                <key>sourceSize</key>
                <string>{480,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f18a8bf313af1326f9889b5e202cb805$</string>
            <key>textureFileName</key>
            <string>play.png</string>
        </dict>
    </dict>
</plist>
