<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>classic_bg_grasses.png</key>
		<dict>
			<key>id</key>
			<integer>2001</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>891</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>classic_bg.png</key>
		<dict>
			<key>id</key>
			<integer>2002</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>800</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>800</integer>
		</dict>
		<key>classic_menu.png</key>
		<dict>
			<key>id</key>
			<integer>2003</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>800</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>classic_tree_front.png</key>
		<dict>
			<key>id</key>
			<integer>2004</integer>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
    <key>classic_button_pause.png</key>
    <dict>
      <key>id</key>
      <integer>2103</integer>
      <key>x</key>
      <integer>10</integer>
      <key>y</key>
      <integer>16</integer>
      <key>width</key>
      <integer>48</integer>
      <key>height</key>
      <integer>48</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>48</integer>
      <key>originalHeight</key>
      <integer>48</integer>
    </dict>
  </dict>
</dict>
</plist>