<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>classic_birds.png</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>id</key>
			<integer>7001</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>93</integer>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>width</key>
			<integer>162</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>772</integer>
		</dict>
		<key>classic_level_bg.png</key>
		<dict>
			<key>height</key>
			<integer>92</integer>
			<key>id</key>
			<integer>7002</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>92</integer>
			<key>originalWidth</key>
			<integer>384</integer>
			<key>width</key>
			<integer>384</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>680</integer>
		</dict>
		<key>classic_level_level.png</key>
		<dict>
			<key>height</key>
			<integer>47</integer>
			<key>id</key>
			<integer>7003</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>47</integer>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>width</key>
			<integer>148</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>837</integer>
		</dict>
		<key>classic_level_ready.png</key>
		<dict>
			<key>height</key>
			<integer>51</integer>
			<key>id</key>
			<integer>7004</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>51</integer>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>width</key>
			<integer>180</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>772</integer>
		</dict>
		<key>classic_level_start.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>id</key>
			<integer>7005</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>209</integer>
			<key>width</key>
			<integer>209</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>823</integer>
		</dict>
		<key>classic_pause_sound_off.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>id</key>
			<integer>7014</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>width</key>
			<integer>53</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>725</integer>
		</dict>
		<key>classic_pause_sound_on.png</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>id</key>
			<integer>7015</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>50</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>width</key>
			<integer>53</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>680</integer>
		</dict>
		<key>classic_paused.png</key>
		<dict>
			<key>height</key>
			<integer>347</integer>
			<key>id</key>
			<integer>7009</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>347</integer>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>width</key>
			<integer>480</integer>
			<key>x</key>
			<integer>459</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>classic_paused_quit.png</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>id</key>
			<integer>7006</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>53</integer>
			<key>originalWidth</key>
			<integer>350</integer>
			<key>width</key>
			<integer>349</integer>
			<key>x</key>
			<integer>459</integer>
			<key>y</key>
			<integer>546</integer>
		</dict>
		<key>classic_paused_restart.png</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>id</key>
			<integer>7007</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>53</integer>
			<key>originalWidth</key>
			<integer>350</integer>
			<key>width</key>
			<integer>349</integer>
			<key>x</key>
			<integer>459</integer>
			<key>y</key>
			<integer>494</integer>
		</dict>
		<key>classic_paused_resume.png</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>id</key>
			<integer>7008</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalHeight</key>
			<integer>53</integer>
			<key>originalWidth</key>
			<integer>350</integer>
			<key>width</key>
			<integer>349</integer>
			<key>x</key>
			<integer>459</integer>
			<key>y</key>
			<integer>442</integer>
		</dict>
		<key>classic_tree.png</key>
		<dict>
			<key>height</key>
			<integer>680</integer>
			<key>id</key>
			<integer>7013</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalHeight</key>
			<integer>684</integer>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>width</key>
			<integer>459</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>classic_tree_bar.png</key>
		<dict>
			<key>height</key>
			<integer>18</integer>
			<key>id</key>
			<integer>7012</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>18</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>width</key>
			<integer>10</integer>
			<key>x</key>
			<integer>460</integer>
			<key>y</key>
			<integer>598</integer>
		</dict>
		<key>classic_tree_bar_alert.png</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>id</key>
			<integer>7010</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>width</key>
			<integer>480</integer>
			<key>x</key>
			<integer>459</integer>
			<key>y</key>
			<integer>347</integer>
		</dict>
		<key>classic_tree_bar_head.png</key>
		<dict>
			<key>height</key>
			<integer>18</integer>
			<key>id</key>
			<integer>7011</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>18</integer>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>width</key>
			<integer>18</integer>
			<key>x</key>
			<integer>438</integer>
			<key>y</key>
			<integer>680</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
