<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doodads_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_classic_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,78},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_classic_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_continue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,38},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_continue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,40},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_newgame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_newgame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>doodads_newgame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doodads_menu.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ad500ce86e35a51b65f6659b03dfea$</string>
            <key>textureFileName</key>
            <string>doodads_menu.png</string>
        </dict>
    </dict>
</plist>
