<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lab_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,103}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{251,103}}</string>
                <key>sourceSize</key>
                <string>{389,119}</string>
            </dict>
            <key>mi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{98,34}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{98,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{158,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{158,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,237},{182,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{182,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{220,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{220,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_newgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{204,34}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{204,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,143},{92,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,5},{92,38}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,255},{156,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{156,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_save_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{206,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{206,38}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
            <key>mi_tapbooom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{206,34}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{206,34}}</string>
                <key>sourceSize</key>
                <string>{240,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>labels.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d45bc3a5a31417870e49fe836414d74f$</string>
            <key>textureFileName</key>
            <string>labels.png</string>
        </dict>
    </dict>
</plist>
